defaultFolder=H:\SteamLibrary\steamapps\common\BlackMythWukong\b1\Saved
zipPath=C:\Program Files\7-Zip\7z.exe
uploadUrl=https://xxx.xxxx.xx/upload.php
downloadUrl=https://xxx.xxxx.xx/download.php
webSiteKey=ZnmXwl9Y3eUItKas
userKey=BlackMythWukong-DMzqHlxCVkb05p2O
